.Delete {
    width: 90%;
    margin-top: 30px;
    gap: 30px;
    border-radius: 15px;
    background-color: black;
    height: 400px;
    opacity: .8;
    padding: 100px;
    margin-left: 80px;


}

.kk {
    color: white;

}